
:root{
    background-color: #c2d6d6;
    --header-color:  #0099ff;

}

h2 {
    color: var(--header-color);
}

table {
    width: 100%;
  }
  
  table, th, td {
    border: 1px solid rgb(0, 0, 0);
    border-collapse: collapse;
    text-align: center;
    background-color: #395568;
    color: #dbe2e2;
  }
  
  th, td {
    padding: 2px 4px;
  }

#noProd{
    background-color: blanchedalmond;
    width: 50%;
    height: 2rem;
    text-align: center;
    font-size: large;
}

#foto{
    width: auto; 
    max-height: 200px; 
}