<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Mis productos</title>
    </head>
    <h2>Lista de Productos</h2>
        {{#if listExists}}
        <table>
            <thead>
                <tr>
                
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Foto</th>
                    
                </tr>
            </thead>
                <tbody>
                {{#each array}}
                    <tr>
                        
                        <td>{{this.Nombre}}</td>
                        <td>{{this.Precio}}</td>
                        <td>
                            <img src={{this.Foto}} id="foto">
                        </td>

                    </tr>
                {{/each}}
                </tbody>
        </table>
        {{else}}
        <div id="noProd">
            <p>No hay productos disponibles</p>
        </div>
        {{/if}}
    <form action="http://localhost:8080">
        <input type="submit" value="Nuevo producto" />
    </form>
</html>