head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Formulario de Productos
fieldset
  h2 Ingrese Producto
  form(action='http://localhost:8080/productos' method='POST')
    | Nombre: 
    input(type='text' name='Nombre')
    |  Precio:
    input(type='number' name='Precio')
    |  Url de la imagen del producto: 
    input(type='url' name='Foto')
    button Enviar
  br
  hr
  form(action='http://localhost:8080/productos')
    input(type='submit' value='Productos')